.presentation-container {
  display: flex;
  align-items: center;
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 1em 0 0 6em;
  background-color: #000;
}

.presentation-container > .presentation-text {
  margin-left: 1.5em;
  position: relative;
  font-size: 1.6em;
  color: var(--global-primary-color);
  font-family: "Libre Baskerville", serif;
}

.presentation-container > .presentation-text h1 {
  font-weight: 800;
  color: #fff;
  font-size: 3em;
  margin: 0;
}

.presentation-container > .presentation-text h2 {
  margin-top: 8px;
  font-size: 1em;
  color: var(--global-secondary-color);
  font-weight: 400;
  font-family: var(--global-primary-font);
  width: 70%;
}

.presentation-container > .presentation-text > .presentation-buttons {
  display: flex;
  font-size: 0.8em;
}

.presentation-container
  > .presentation-text
  > .presentation-buttons
  > a
  > .btn {
  margin-right: 2em;
}

.presentation-container > .presentation-text > .presentation-buttons > a {
  text-decoration: none;
}
