.btn {
  width: 9.8em;
  height: 4em;
  text-decoration: none;
  background-color: var(--global-primary-color);
  color: var(--global-secondary-color);
  border-radius: 1em;
  border: none;
  cursor: pointer;
  transition: all 500ms;
  font-family: var(--global-primary-font);
  font-size: 0.6em;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.btn:hover {
  background-color: var(--global-tertiary-color);
}

.btn-large {
  font-size: 0.8em;
}

.btn-navbar {
  font-size: 0.8em;
  width: 11em;
}

.btn-carousel {
  position: absolute;
  bottom: 5em;
}

.btn-writing-carousel {
  height: 4em;
  border-radius: 1em;
}

.btn-writing-carousel > span {
  font-size: 1em;
}

.btn-follow {
  border-radius: 1em;
}

.btn-follow > span {
  font-size: 1.2em;
}
