.btn {
  width: 9em;
  height: 4em;
  margin-right: 2em;
  background-color: var(--global-primary-color);
  color: var(--global-secondary-color);
  border-radius: var(--global-border-radius);
  border: none;
  cursor: pointer;
  transition: all 500ms;
  font-family: var(--global-primary-font);
  font-size: 0.6em;
  font-weight: bold;
}

.btn:hover {
  background-color: var(--global-tertiary-color);
}

.btn-large {
  font-size: 0.8em;
}

.btn-navbar {
  font-size: 0.8em;
  width: 11em;
}

.btn-carousel {
  position: absolute;
  bottom: 5em;
  margin-right: 0em;
}
