.btn {
  width: 9em;
  height: 4em;
  margin-right: 2em;
  background-color: var(--global-tertiary-color);
  color: var(--global-secondary-color);
  border-color: var(--global-secondary-color);
  border-radius: var(--global-border-radius);
  box-shadow: 1px 1px 1px #ccc;
  cursor: pointer;
  transition: all 500ms;
  font-family: var(--global-primary-font);
  text-shadow: 1px 1px 4px rgb(7, 7, 7);
  font-size: 0.6em;
  font-weight: bold;
}

.btn:hover {
  background-color: rgba(240, 152, 38, 0.952);
}

.btn-large {
  font-size: 0.8em;
}

.btn-carousel {
  position: absolute;
  bottom: 5em;
  margin-right: 0;
}
