.profile-section > .more-info {
  display: flex;
  justify-content: space-between;
  font-family: var(--global-primary-font);
  border-bottom: 1px solid rgb(226, 225, 225);
}

.profile-section > .more-info > .followers {
  width: 88%;
  display: flex;
  justify-content: center;
}

.profile-section > .more-info > .followers > p {
  margin-right: 5%;
}

.profile-section > .more-info > .options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.profile-section > .more-info > .followers > .options-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
