.objectives-container {
  display: flex;
  padding-top: 0.7em;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 2em;
  background-color: rgb(245, 244, 244);
}

.objectives-container > .objectives-text {
  width: 50%;
}

.objectives-container > .objectives-text h3 {
  font-size: 1.4em;
  font-weight: 400;
  color: var(--global-primary-color);
}

.objectives-container > .objectives-text h4 {
  font-size: 0.8em;
  font-weight: 500;
}

.objectives-container > .objectives-card-container {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
