.sidebar {
  font-family: var(--global-primary-font);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar > .author-info,
.sidebar > .text-sharing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar > .author-info > img {
  border-radius: 100%;
}

.sidebar > .author-info > .author {
  font-weight: bold;
  margin: 1em 0 1em 0;
}

.sidebar > .author-info > .follow-btn {
  text-transform: capitalize;
  background-color: var(--global-primary-color);
  color: var(--global-secondary-color);
  border-radius: 1em;
}
.sidebar > .author-info > .active {
  background-color: var(--global-secondary-color);
  color: var(--global-primary-color);
}

.sidebar > .text-sharing {
  margin-top: 3em;
}

.sidebar > .text-sharing > .icon {
  background-color: grey;
  color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-bottom: 2em;
}
