.writings-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.writings-list-container > .writings-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
