.writings-carousel {
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.writings-carousel > .swiper-wrapper > .swiper-slide {
  position: relative;
}

.writings-carousel > .swiper-wrapper > .swiper-slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.writings-carousel > .swiper-wrapper > .swiper-slide > div {
  font-family: var(--global-primary-font);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  position: relative;
  color: var(--global-secondary-color);
  height: 100%;
}

.writings-carousel > .swiper-wrapper > .swiper-slide > div > .writing-title {
  font-size: 3em;
  margin: 0;
}

.writings-carousel > .swiper-wrapper > .swiper-slide > div > .writing-fragment {
  width: 50%;
  text-align: center;
  font-size: 1.1em;
}

.writings-carousel > .swiper-wrapper > .swiper-slide > div > .writing-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.writings-carousel
  > .swiper-wrapper
  > .swiper-slide
  > div
  > .writing-info
  > button {
  margin: 0;
  font-size: 0.9em;
}

.writings-carousel
  > .swiper-wrapper
  > .swiper-slide
  > div
  > .writing-info
  > .writing-author {
  font-size: 0.9em;
  cursor: pointer;
}

.writings-carousel > .swiper-button-next,
.writings-carousel > .swiper-button-prev {
  color: var(--global-tertiary-color);
}
