.home-container > .swiper-container {
  width: 80%;
  height: 75vh;
  margin: 7% 0 0 0;
}

.home-container > .swiper-container > .home-text > h3 {
  font-size: 2rem;
}

.home-container > .swiper-container > .home-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 60%;
}

.home-container
  > .swiper-container
  > .home-carousel
  > .swiper-wrapper
  > .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-container
  > .swiper-container
  > .home-carousel
  > .swiper-wrapper
  > .swiper-slide
  > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
