.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about > .about-title {
  font-size: var(--global-title-font-size);
  font-family: var(--global-primary-font);
  color: var(--global-primary-color);
}
