.form-password-container {
  width: 100%;
}

.form-password-container > h5 {
  font-size: 1.7rem;
  margin: 1rem 0 0 0;
}

.form-password-container > .form-password {
  display: flex;
  flex-direction: column;
}

.form-password-container > .form-password > .form-password-inputs {
  margin: 0.5rem 0 0 0;
  display: flex;
}

.form-password-container
  > .form-password
  > .form-password-inputs
  > .form-password-input {
  margin: 0 3rem 0 0;
}

.form-password-container > .form-password > .form-action {
  margin: 1.5rem 0 0 0;
}

.form-password-container
  > .form-password
  > .form-action
  > .form-update-password {
  background-color: var(--global-primary-color);
  font-family: var(--global-primary-font);
}
