.text-card {
  width: 30%;
  font-family: var(--global-primary-font);
  margin: 0.5em;
  padding: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-card > .text-image {
  width: 300px;
  height: 300px;
  border-radius: var(--global-border-radius);
}

.text-card > .text-title {
  margin-bottom: 0;
  font-size: 1.5em;
}

.text-card > .text-info {
  display: flex;
  font-size: 0.7em;
}

.text-card > .text-overview {
  text-align: center;
  margin-bottom: 0.6em;
}
