.valued-writings-carousel {
  text-align: center;
}

.valued-writings-carousel > .swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.valued-writings-carousel > .swiper-title {
  font-family: var(--global-primary-font);
  font-size: var(--global-title-font-size);
  font-weight: var(--global-title-font-weight);
  color: var(--global-primary-color);
  margin-bottom: 25px;
}

.valued-writings-carousel > .swiper-container > .swiper {
  margin-bottom: 4em;
  width: 85%;
  height: 70vh;
  font-weight: 500;
}

.valued-writings-carousel > .swiper-container > .swiper > .swiper-wrapper {
  width: 50vw;
  display: flex;
  align-items: center;
}

.valued-writings-carousel
  > .swiper-container
  > .swiper
  > .swiper-wrapper
  > .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 80%;
  transition: all 300ms;
}

.valued-writings-carousel
  > .swiper-container
  > .swiper
  > .swiper-wrapper
  > .swiper-slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.valued-writings-carousel
  > .swiper-container
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .writing-content
  > .writing-title {
  font-family: var(--global-primary-font);
}

.valued-writings-carousel
  > .swiper-container
  > .swiper
  > .swiper-wrapper
  > .swiper-slide-next {
  z-index: 1;
  height: 95%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.writing-content {
  font-family: var(--global-secondary-font);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  position: relative;
  color: var(--global-secondary-color);
  font-weight: bold;
  height: 100%;
}

.writing-content > .writing-title {
  position: absolute;
  top: 0.5em;
  font-size: 1.5em;
}

.writing-content > .writing-author {
  position: absolute;
  bottom: 2em;
  right: 2em;
  font-size: 0.8em;
}

.valued-writings-carousel > .swiper-container > .swiper-button {
  margin: 0 1.5em 0 1.5em;
  color: var(--global-primary-color);
  cursor: pointer;
}
