:root {
  --global-primary-font: "Roboto Condensed", sans-serif;
  --global-secondary-font: "Roboto";
  --global-primary-color: #f14755;
  --global-secondary-color: #fff;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
