:root {
  --global-primary-font: "Noto Sans", sans-serif;
  --global-secondary-font: "Fjalla One", sans-serif;
  --global-primary-color: #641fcc;
  --global-secondary-color: #fff;
  --global-tertiary-color: #a7c5bd;
  --global-fourth-color: #a7c5bd;
  --global-border-radius: 50px;
  --global-title-font-size: 2.8em;
  --global-title-font-weight: bold;
}

/*
Color: #f6a942
*/

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
