:root {
  --global-primary-font: "Montserrat", sans-serif;
  --global-secondary-font: "Open Sans", sans-serif;
  --global-primary-color: #641fcc;
  --global-secondary-color: #fff;
  --global-tertiary-color: #f35f1c;
  --global-border-radius: 5%;
  --global-title-font-size: 2.3em;
  --global-title-font-weight: bold;
}

/*
Color: #f6a942
*/

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
