.navbar-categories {
  margin: 0.5em 2em 0.5em 2em;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-family: var(--global-primary-font);
  text-transform: uppercase;
}

.MuiMenuItem-root {
  padding: 0;
  width: 15em;
}

.navbar {
  background-color: transparent;
  position: fixed;
  z-index: 10;
  font-size: 0.9em;
  box-shadow: none;
  animation: ease-in;
  transition: all 600ms;
}

.navbar-active {
  background-color: #000;
  animation: ease-in;
  transition: all 600ms;
}

.navbar-profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-profile-pic > img {
  width: 1.4em;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.red {
  background-color: red;
}
