.texts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.texts-container > .texts-container-title {
  font-family: var(--global-primary-font);
  font-size: var(--global-title-font-size);
  font-weight: var(--global-title-font-weight);
  color: var(--global-primary-color);
}

.texts-container > .texts-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
