.writing-card {
  width: 20%;
  text-align: center;
  margin: 1.2em;
}

.writing-card > .img-container > img {
  border-radius: 10px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--global-primary-font);
}

.text-container > .btn {
  margin-top: 1em;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: var(--global-primary-color);
  font-size: 18px;
}
