.text-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 45%;
  margin: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1em;
  transition: all 300 ms ease-in-out;
}

.text-card > .text-image > a > img {
  width: 180px;
  height: 250px;
  border-radius: 10px;
}

.text-card > .text-content {
  font-family: var(--global-primary-font);
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1em;
}

.text-card > .text-content > a {
  text-decoration: none;
}

.text-card > .text-content > a > .text-title {
  color: #000;
  font-size: 1.9em;
  margin: 0;
}

.text-card > .text-content > a > .text-title:hover {
  text-decoration: underline;
}

.text-card > .text-content > .text-interactions {
  display: flex;
  color: grey;
}

.text-card > .text-content > .text-interactions > .text-icons {
  margin: 0;
  font-size: 1.5em;
  color: grey;
  margin-right: 0.2em;
}

.text-card > .text-content > .text-interactions > .text-interactions-numbers {
  margin-right: 1em;
}

.text-card > .text-content > .text-author > a {
  color: #000;
  font-weight: bold;
}

.text-card > .text-content > .text-fragment {
  margin-top: 2%;
  font-size: 1.2em;
}

.text-card > .text-content > .text-tags > .text-tag {
  margin: 0.2em 1em 1em 0;
  font-family: var(--global-primary-font);
  background-color: #eee;
  text-transform: capitalize;
  border: none;
  font-size: 1em;
  width: calc(fit-content-width + 1em);
  height: 2.5em;
  font-weight: bold;
  border-radius: 1em;
  color: grey;
  box-shadow: 0 0.2em #dfd9d9;
  transition: all 500ms;
}

.text-card > .text-content > .text-tags > span {
  font-weight: bold;
}
