.search-writings {
  display: flex;
  padding: 1.5rem 1rem 1rem 1rem;
  margin: 1.5rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-direction: column;
  text-align: left;
  font-family: var(--global-primary-font);
}

.search-writings > .search-writings-text > h6 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 1%;
}
.search-writings > .search-writings-text > p {
  font-size: 0.7em;
  margin: 0;
  margin-bottom: 1%;
}

.search-writings > .search-tags > .search-button-tag {
  font-family: var(--global-primary-font);
  background-color: #eee;
  text-transform: capitalize;
  border: none;
  padding: 0.9em;
  font-size: 0.8em;
  width: auto;
  min-width: 9em;
  border-radius: 1em;
  color: grey;
  transition: all 500ms;
  cursor: pointer;
  margin: 0.8em;
}

.search-writings > .search-tags > .search-button-tag > .button-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-writings > .search-tags > .active {
  background: var(--global-primary-color);
  color: white;
}

.search-writings > .search-tags > .search-button-tag:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.search-writings > .search-tags > .search-button-tag:hover:not(:disabled) {
  background: var(--global-primary-color);
  color: white;
}

.search-writings > .search-tags > .search-button-tag:disabled {
  cursor: auto;
  color: grey;
}
