.objectives-carousel {
  height: 90vh;
}

.objectives-title {
  font-size: 2.2em;
  font-weight: 400;
  color: var(--global-primary-color);
}

.objectives-carousel > .swiper-container > .swiper {
  margin-bottom: 4em;
  width: 98.5vw;
  height: 90vh;
  font-weight: 500;
}

.objectives-carousel
  > .swiper-container
  > .swiper
  > .swiper-wrapper
  > .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper-pagination-bullet-active {
  background-color: var(--global-secondary-color);
}

.carousel-content {
  font-family: var(--global-secondary-font);
  position: absolute;
  left: 0;
  margin-left: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45%;
  height: 60%;
  font-size: 36px;
}

.carousel-content > h3 {
  font-weight: bold;
  margin-bottom: 5px;
}

.carousel-content > p {
  font-size: 0.7em;
  color: #000;
}
